In [1]:
#Import Pandas Library
import pandas as pd
#Import titanic data  downloaded from https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv in to pandas dataframe
TITANIC = pd.read_csv("C:/Users/Yosef/OneDrive - cumc.columbia.edu/Desktop/titanic.csv")
#Make sure that it is imported correctly by reviewing the first few raws of the data fram
print(TITANIC.head())
print(TITANIC.shape)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
(891, 12)

In [2]:
#displaying the last 10 rows of TITANIC Data Frame
print(TITANIC.tail(10))

     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

In [3]:
#Extract more detailed Information about the dataframe
print(TITANIC.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [21]:
#Create pivot table
Age_Sex = pd.pivot_table(TITANIC, values=["Age"], index=["Pclass"], aggfunc='mean')
print(Age_Sex)

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [23]:
#Create pivot table
Age_Sex_1 = pd.pivot_table(TITANIC, values=["Age", "Fare"], index=["Pclass"], aggfunc='mean')
print(Age_Sex_1)

              Age       Fare
Pclass
1       38.233441  84.154687
2       29.877630  20.662183
3       25.140620  13.675550

In [25]:
#Create pivot table....Let us add margins name
Age_Sex_2 = pd.pivot_table(TITANIC, values=["Age", "Fare"], index=["Pclass"], aggfunc='mean', margins=True, margins_name='Total')
print(Age_Sex_2)

              Age       Fare
Pclass
1       38.233441  84.154687
2       29.877630  20.662183
3       25.140620  13.675550
Total   29.699118  34.694514

In [6]:
import pandas as pd
VIDEO_1 = pd.read_csv(r"C:\Users\Yosef\OneDrive - cumc.columbia.edu\Desktop\DATA\FRvideos.csv")
VIDEO_2 = pd.read_csv(r"C:\Users\Yosef\OneDrive - cumc.columbia.edu\Desktop\DATA\GBvideos.csv")
print(VIDEO_1.head())
print(VIDEO_2.head())
print(VIDEO_1.shape)
print(VIDEO_2.shape)

      video_id trending_date  \
0  Ro6eob0LrCY      17.14.11
1  Yo84eqYwP98      17.14.11
2  ceqntSXE-10      17.14.11
3  WuTFI5qftCE      17.14.11
4  ee6OFs8TdEg      17.14.11

                                               title        channel_title  \
0           Malika LePen : Femme de Gauche - Trailer  Le Raptor Dissident
1  LA PIRE PARTIE ft Le Rire Jaune, Pierre Croce,...              Le Labo
2  DESSINS ANIMÉS FRANÇAIS VS RUSSES 2 - Daniil...      Daniil le Russe
3                    PAPY GRENIER - METAL GEAR SOLID    Joueur Du Grenier
4  QUI SAUTERA LE PLUS HAUT ? (VÉLO SKATE ROLLER ...    Aurelien Fontenoy

   category_id              publish_time  \
0           24  2017-11-13T17:32:55.000Z
1           24  2017-11-12T15:00:02.000Z
2           23  2017-11-13T17:00:38.000Z
3           20  2017-11-12T17:00:02.000Z
4           17  2017-11-13T16:30:03.000Z

                                                tags   views  likes  dislikes  \
0  Raptor"|"Dissident"|"Expliquez"|"moi"|"cette"|...  212702  29282      1108
1                                             [none]  432721  14053       576
2      cartoon"|"pokémon"|"école"|"ours"|"мультфильм  482153  76203       477
3  Papy grenier"|"Metal Gear Solid"|"PS1"|"Tirage...  925222  85016       550
4  vélo"|"vtt"|"bmx"|"freestyle"|"bike"|"mtb"|"di...  141695   8091        72

   comment_count                                  thumbnail_link  \
0           3817  https://i.ytimg.com/vi/Ro6eob0LrCY/default.jpg
1           1161  https://i.ytimg.com/vi/Yo84eqYwP98/default.jpg
2           9580  https://i.ytimg.com/vi/ceqntSXE-10/default.jpg
3           4303  https://i.ytimg.com/vi/WuTFI5qftCE/default.jpg
4            481  https://i.ytimg.com/vi/ee6OFs8TdEg/default.jpg

   comments_disabled  ratings_disabled  video_error_or_removed  \
0              False             False                   False
1              False             False                   False
2              False             False                   False
3              False             False                   False
4              False             False                   False

                                         description
0  Dimanche.\n18h30.\nSoyez présents pour la vidé...
1  Le jeu de société: https://goo.gl/hhG1Ta\n\nGa...
2  Une nouvelle dose de dessins animés français e...
3  Nouvel ,épisode de Papy Grenier ! Ce mois-ci o...
4  Sauts à plus de 4 mètres de haut dans un tramp...
      video_id trending_date  \
0  Jw1Y-zhQURU      17.14.11
1  3s1rvMFUweQ      17.14.11
2  n1WpP7iowLc      17.14.11
3  PUTEiSjKwJU      17.14.11
4  rHwDegptbI4      17.14.11

                                               title  \
0      John Lewis Christmas Ad 2017 - #MozTheMonster
1          Taylor Swift: …Ready for It? (Live) - SNL
2         Eminem - Walk On Water (Audio) ft. Beyoncé
3  Goals from Salford City vs Class of 92 and Fri...
4  Dashcam captures truck's near miss with child ...

                channel_title  category_id              publish_time  \
0                  John Lewis           26  2017-11-10T07:38:29.000Z
1         Saturday Night Live           24  2017-11-12T06:24:44.000Z
2                  EminemVEVO           10  2017-11-10T17:00:03.000Z
3  Salford City Football Club           17  2017-11-13T02:30:38.000Z
4            Cute Girl Videos           25  2017-11-13T01:45:13.000Z

                                                tags     views   likes  \
0  christmas|"john lewis christmas"|"john lewis"|...   7224515   55681
1  SNL|"Saturday Night Live"|"SNL Season 43"|"Epi...   1053632   25561
2  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...  17158579  787420
3  Salford City FC|"Salford City"|"Salford"|"Clas...     27833     193
4                                             [none]      9815      30

   dislikes  comment_count                                  thumbnail_link  \
0     10247           9479  https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg
1      2294           2757  https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg
2     43420         125882  https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg
3        12             37  https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg
4         2             30  https://i.ytimg.com/vi/rHwDegptbI4/default.jpg

   comments_disabled  ratings_disabled  video_error_or_removed  \
0              False             False                   False
1              False             False                   False
2              False             False                   False
3              False             False                   False
4              False             False                   False

                                         description
0  Click here to continue the story and make your...
1  Musical guest Taylor Swift performs …Ready for...
2  Eminem's new track Walk on Water ft. Beyoncé i...
3  Salford drew 4-4 against the Class of 92 and F...
4  Dashcam captures truck's near miss with child ...
(40724, 16)
(38916, 16)

In [8]:
#Merge the data frames by columns which are common for both 
VIDEO_1_2 = VIDEO_1.merge(VIDEO_2, how="inner", on="video_id", suffixes=("_1", "_2"))
print(VIDEO_1_2.head())
print(VIDEO_1_2.shape)

      video_id trending_date_1                                     title_1  \
0  n1WpP7iowLc        17.14.11  Eminem - Walk On Water (Audio) ft. Beyoncé
1  n1WpP7iowLc        17.14.11  Eminem - Walk On Water (Audio) ft. Beyoncé
2  n1WpP7iowLc        17.14.11  Eminem - Walk On Water (Audio) ft. Beyoncé
3  n1WpP7iowLc        17.14.11  Eminem - Walk On Water (Audio) ft. Beyoncé
4  n1WpP7iowLc        17.14.11  Eminem - Walk On Water (Audio) ft. Beyoncé

  channel_title_1  category_id_1            publish_time_1  \
0      EminemVEVO             10  2017-11-10T17:00:03.000Z
1      EminemVEVO             10  2017-11-10T17:00:03.000Z
2      EminemVEVO             10  2017-11-10T17:00:03.000Z
3      EminemVEVO             10  2017-11-10T17:00:03.000Z
4      EminemVEVO             10  2017-11-10T17:00:03.000Z

                                              tags_1   views_1  likes_1  \
0  Eminem"|"Walk"|"On"|"Water"|"Aftermath/Shady/I...  17158579   787425
1  Eminem"|"Walk"|"On"|"Water"|"Aftermath/Shady/I...  17158579   787425
2  Eminem"|"Walk"|"On"|"Water"|"Aftermath/Shady/I...  17158579   787425
3  Eminem"|"Walk"|"On"|"Water"|"Aftermath/Shady/I...  17158579   787425
4  Eminem"|"Walk"|"On"|"Water"|"Aftermath/Shady/I...  17158579   787425

   dislikes_1  ...                                             tags_2  \
0       43420  ...  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
1       43420  ...  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
2       43420  ...  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
3       43420  ...  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
4       43420  ...  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...

    views_2  likes_2  dislikes_2  comment_count_2  \
0  17158579   787420       43420           125882
1  20539417   840642       47715           124236
2  22702386   869304       50018           123227
3  24578152   891283       51977           125444
4  26448434   911883       53873           127481

                                 thumbnail_link_2 comments_disabled_2  \
0  https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg               False
1  https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg               False
2  https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg               False
3  https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg               False
4  https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg               False

  ratings_disabled_2 video_error_or_removed_2  \
0              False                    False
1              False                    False
2              False                    False
3              False                    False
4              False                    False

                                       description_2
0  Eminem's new track Walk on Water ft. Beyoncé i...
1  Eminem's new track Walk on Water ft. Beyoncé i...
2  Eminem's new track Walk on Water ft. Beyoncé i...
3  Eminem's new track Walk on Water ft. Beyoncé i...
4  Eminem's new track Walk on Water ft. Beyoncé i...

[5 rows x 31 columns]
(15838, 31)

In [15]:
#Merge the data frames using left joins
VIDEO_1_2_Ou = VIDEO_1.merge(VIDEO_2, how="left", on="video_id", suffixes=("_1", "_2"))
print(VIDEO_1_2_Ou.head())
print(VIDEO_1_2_Ou.shape)
print(VIDEO_1_2_Ou.info())

      video_id trending_date_1  \
0  Ro6eob0LrCY        17.14.11
1  Yo84eqYwP98        17.14.11
2  ceqntSXE-10        17.14.11
3  WuTFI5qftCE        17.14.11
4  ee6OFs8TdEg        17.14.11

                                             title_1      channel_title_1  \
0           Malika LePen : Femme de Gauche - Trailer  Le Raptor Dissident
1  LA PIRE PARTIE ft Le Rire Jaune, Pierre Croce,...              Le Labo
2  DESSINS ANIMÉS FRANÇAIS VS RUSSES 2 - Daniil...      Daniil le Russe
3                    PAPY GRENIER - METAL GEAR SOLID    Joueur Du Grenier
4  QUI SAUTERA LE PLUS HAUT ? (VÉLO SKATE ROLLER ...    Aurelien Fontenoy

   category_id_1            publish_time_1  \
0             24  2017-11-13T17:32:55.000Z
1             24  2017-11-12T15:00:02.000Z
2             23  2017-11-13T17:00:38.000Z
3             20  2017-11-12T17:00:02.000Z
4             17  2017-11-13T16:30:03.000Z

                                              tags_1  views_1  likes_1  \
0  Raptor"|"Dissident"|"Expliquez"|"moi"|"cette"|...   212702    29282
1                                             [none]   432721    14053
2      cartoon"|"pokémon"|"école"|"ours"|"мультфильм   482153    76203
3  Papy grenier"|"Metal Gear Solid"|"PS1"|"Tirage...   925222    85016
4  vélo"|"vtt"|"bmx"|"freestyle"|"bike"|"mtb"|"di...   141695     8091

   dislikes_1  ...  tags_2 views_2  likes_2  dislikes_2  comment_count_2  \
0        1108  ...     NaN     NaN      NaN         NaN              NaN
1         576  ...     NaN     NaN      NaN         NaN              NaN
2         477  ...     NaN     NaN      NaN         NaN              NaN
3         550  ...     NaN     NaN      NaN         NaN              NaN
4          72  ...     NaN     NaN      NaN         NaN              NaN

  thumbnail_link_2 comments_disabled_2 ratings_disabled_2  \
0              NaN                 NaN                NaN
1              NaN                 NaN                NaN
2              NaN                 NaN                NaN
3              NaN                 NaN                NaN
4              NaN                 NaN                NaN

  video_error_or_removed_2  description_2
0                      NaN            NaN
1                      NaN            NaN
2                      NaN            NaN
3                      NaN            NaN
4                      NaN            NaN

[5 rows x 31 columns]
(55738, 31)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 55738 entries, 0 to 55737
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   video_id                  55738 non-null  object
 1   trending_date_1           55738 non-null  object
 2   title_1                   55738 non-null  object
 3   channel_title_1           55738 non-null  object
 4   category_id_1             55738 non-null  int64
 5   publish_time_1            55738 non-null  object
 6   tags_1                    55738 non-null  object
 7   views_1                   55738 non-null  int64
 8   likes_1                   55738 non-null  int64
 9   dislikes_1                55738 non-null  int64
 10  comment_count_1           55738 non-null  int64
 11  thumbnail_link_1          55738 non-null  object
 12  comments_disabled_1       55738 non-null  bool
 13  ratings_disabled_1        55738 non-null  bool
 14  video_error_or_removed_1  55738 non-null  bool
 15  description_1             52702 non-null  object
 16  trending_date_2           15838 non-null  object
 17  title_2                   15838 non-null  object
 18  channel_title_2           15838 non-null  object
 19  category_id_2             15838 non-null  float64
 20  publish_time_2            15838 non-null  object
 21  tags_2                    15838 non-null  object
 22  views_2                   15838 non-null  float64
 23  likes_2                   15838 non-null  float64
 24  dislikes_2                15838 non-null  float64
 25  comment_count_2           15838 non-null  float64
 26  thumbnail_link_2          15838 non-null  object
 27  comments_disabled_2       15838 non-null  object
 28  ratings_disabled_2        15838 non-null  object
 29  video_error_or_removed_2  15838 non-null  object
 30  description_2             15726 non-null  object
dtypes: bool(3), float64(5), int64(5), object(18)
memory usage: 12.5+ MB
None

In [8]:
#Import Pandas 
import pandas as pd
#Import the data frame
France_Videos = pd.read_csv(r"C:\Users\Yosef\OneDrive - cumc.columbia.edu\Desktop\DATA\FRvideos.csv")
print(France_Videos.head())
print(France_Videos.info())
#Generate the Statistical Summary using describe
France_Videos.describe()

      video_id trending_date  \
0  Ro6eob0LrCY      17.14.11
1  Yo84eqYwP98      17.14.11
2  ceqntSXE-10      17.14.11
3  WuTFI5qftCE      17.14.11
4  ee6OFs8TdEg      17.14.11

                                               title        channel_title  \
0           Malika LePen : Femme de Gauche - Trailer  Le Raptor Dissident
1  LA PIRE PARTIE ft Le Rire Jaune, Pierre Croce,...              Le Labo
2  DESSINS ANIMÉS FRANÇAIS VS RUSSES 2 - Daniil...      Daniil le Russe
3                    PAPY GRENIER - METAL GEAR SOLID    Joueur Du Grenier
4  QUI SAUTERA LE PLUS HAUT ? (VÉLO SKATE ROLLER ...    Aurelien Fontenoy

   category_id              publish_time  \
0           24  2017-11-13T17:32:55.000Z
1           24  2017-11-12T15:00:02.000Z
2           23  2017-11-13T17:00:38.000Z
3           20  2017-11-12T17:00:02.000Z
4           17  2017-11-13T16:30:03.000Z

                                                tags   views  likes  dislikes  \
0  Raptor"|"Dissident"|"Expliquez"|"moi"|"cette"|...  212702  29282      1108
1                                             [none]  432721  14053       576
2      cartoon"|"pokémon"|"école"|"ours"|"мультфильм  482153  76203       477
3  Papy grenier"|"Metal Gear Solid"|"PS1"|"Tirage...  925222  85016       550
4  vélo"|"vtt"|"bmx"|"freestyle"|"bike"|"mtb"|"di...  141695   8091        72

   comment_count                                  thumbnail_link  \
0           3817  https://i.ytimg.com/vi/Ro6eob0LrCY/default.jpg
1           1161  https://i.ytimg.com/vi/Yo84eqYwP98/default.jpg
2           9580  https://i.ytimg.com/vi/ceqntSXE-10/default.jpg
3           4303  https://i.ytimg.com/vi/WuTFI5qftCE/default.jpg
4            481  https://i.ytimg.com/vi/ee6OFs8TdEg/default.jpg

   comments_disabled  ratings_disabled  video_error_or_removed  \
0              False             False                   False
1              False             False                   False
2              False             False                   False
3              False             False                   False
4              False             False                   False

                                         description
0  Dimanche.\n18h30.\nSoyez présents pour la vidé...
1  Le jeu de société: https://goo.gl/hhG1Ta\n\nGa...
2  Une nouvelle dose de dessins animés français e...
3  Nouvel ,épisode de Papy Grenier ! Ce mois-ci o...
4  Sauts à plus de 4 mètres de haut dans un tramp...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40724 entries, 0 to 40723
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40724 non-null  object
 1   trending_date           40724 non-null  object
 2   title                   40724 non-null  object
 3   channel_title           40724 non-null  object
 4   category_id             40724 non-null  int64
 5   publish_time            40724 non-null  object
 6   tags                    40724 non-null  object
 7   views                   40724 non-null  int64
 8   likes                   40724 non-null  int64
 9   dislikes                40724 non-null  int64
 10  comment_count           40724 non-null  int64
 11  thumbnail_link          40724 non-null  object
 12  comments_disabled       40724 non-null  bool
 13  ratings_disabled        40724 non-null  bool
 14  video_error_or_removed  40724 non-null  bool
 15  description             37812 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB
None

        category_id         views         likes      dislikes  comment_count
count  40724.000000  4.072400e+04  4.072400e+04  4.072400e+04   4.072400e+04
mean      20.123809  4.199219e+05  1.738886e+04  8.149624e+02   1.832453e+03
std        6.984422  1.772130e+06  8.720509e+04  1.139219e+04   1.404321e+04
min        1.000000  2.230000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  1.697450e+04  3.380000e+02  1.800000e+01   5.600000e+01
50%       23.000000  7.372100e+04  1.892500e+03  8.300000e+01   2.350000e+02
75%       24.000000  2.708088e+05  7.969500e+03  3.350000e+02   8.410000e+02
max       44.000000  1.009116e+08  4.750254e+06  1.353661e+06   1.040912e+06

In [14]:
print(France_Videos["views"].mean())

print(France_Videos["views"].median())

print(France_Videos["views"].min())

print(France_Videos["views"].max())

419921.8506040664
73721.0
223
100911567

In [7]:
#Import Pandas
import pandas as pd
#Import the dataset as UK_VIWS
UK_VIEWS = pd.read_csv(r"C:\Users\Yosef\OneDrive - cumc.columbia.edu\Desktop\DATA\GBvideos.csv")
#Check whether missing value is available or not using .info()
print(UK_VIEWS.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38916 entries, 0 to 38915
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                38916 non-null  object
 1   trending_date           38916 non-null  object
 2   title                   38916 non-null  object
 3   channel_title           38916 non-null  object
 4   category_id             38916 non-null  int64
 5   publish_time            38916 non-null  object
 6   tags                    38916 non-null  object
 7   views                   38916 non-null  int64
 8   likes                   38916 non-null  int64
 9   dislikes                38916 non-null  int64
 10  comment_count           38916 non-null  int64
 11  thumbnail_link          38916 non-null  object
 12  comments_disabled       38916 non-null  bool
 13  ratings_disabled        38916 non-null  bool
 14  video_error_or_removed  38916 non-null  bool
 15  description             38304 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.0+ MB
None

In [3]:
#Show Missing Values
UK_VIEWS.isna().any()

video_id                  False
trending_date             False
title                     False
channel_title             False
category_id               False
publish_time              False
tags                      False
views                     False
likes                     False
dislikes                  False
comment_count             False
thumbnail_link            False
comments_disabled         False
ratings_disabled          False
video_error_or_removed    False
description                True
dtype: bool

In [4]:
#Count missing values in the dataset
UK_VIEWS.isna().sum()

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id                 0
publish_time                0
tags                        0
views                       0
likes                       0
dislikes                    0
comment_count               0
thumbnail_link              0
comments_disabled           0
ratings_disabled            0
video_error_or_removed      0
description               612
dtype: int64

In [5]:
#Drop Missing Values from UK_VIEWS and Save as UK_VIEWS_1
UK_VIEWS_1 = UK_VIEWS.dropna()
#Check wheter missing values were dropped or not
UK_VIEWS_1.isna().sum()

video_id                  0
trending_date             0
title                     0
channel_title             0
category_id               0
publish_time              0
tags                      0
views                     0
likes                     0
dislikes                  0
comment_count             0
thumbnail_link            0
comments_disabled         0
ratings_disabled          0
video_error_or_removed    0
description               0
dtype: int64

In [6]:
#Replace Missing Values with "Not Described" and save as UK_VIEWS_2
UK_VIEWS_2 = UK_VIEWS.fillna("Not Described")
#Check wheter missing values were replaced or not
UK_VIEWS_2.isna().sum()

video_id                  0
trending_date             0
title                     0
channel_title             0
category_id               0
publish_time              0
tags                      0
views                     0
likes                     0
dislikes                  0
comment_count             0
thumbnail_link            0
comments_disabled         0
ratings_disabled          0
video_error_or_removed    0
description               0
dtype: int64